/* START BASICS*/
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.with-navbar {
    padding-top: 56px;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
/* END BASICS */